Source: epics-extensions
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.aps.anl.gov/epics/

Package: epics-extensions-dev
Architecture: all
Depends: epics-dev (>= 3.14.11-2), ${misc:Depends}
Description: Build infrastructure for EPICS extentions
 Common makefiles for building EPICS extentions.
