Source: epics-extensions
Section: unknown
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.aps.anl.gov/epics/

Package: epics-extensions-dev
Architecture: all
Depends: epics-dev, ${shlibs:Depends}, ${misc:Depends}
Description: Build infrastructure for EPICS extentions
 Common makefiles for building EPICS extentions.
